<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="libs/mdb/mdb.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="/storefront">
        <strong class="blue-text">FlipKartt</strong>
    </a>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link waves-effect" href="/storefront">Home</a>
        </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
            <a class="nav-link waves-effect" href="/cart">
            <i class="fas fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"" href="#"><%=user.Name%></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/logOut">Log Out</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/myaccount">Edit My Account</a>
              <a class="dropdown-item" href="/myshipping">Edit Shipping Info</a>
              <a class="dropdown-item" href="/mypayment">Edit Payment Info</a>
            </div>
        </li>
        </ul>

    </div>

    </div>
</nav>

        <main class="mt-5 pt-4">
                <div class="container wow fadeIn">
            
                  <!-- Heading -->
                  <h2 class="my-5 h2 text-center">Edit Shipping Info</h2>
            
                  <!--Grid row-->
                  <div class="row">
            
                    <!--Grid column-->
                    <div class="col-md-8 mb-4">
            
                      <!--Card-->
                      <div class="card">
            
                        <!--Card content-->
                        <% addresses.forEach((address, index) => { %>
                        <form class="card-body" action = "" method = "POST">
            
                          <!--Grid row-->
                          <div class="row">
            
                            <!--Grid column-->
                            <div class="col-md-6 mb-2">
            
                              <!--firstName-->
                              <div class="md-form ">
                                <input type="text" id="firstName" name="firstName" class="form-control" value="<%=address.firstName%>">
                                <input type="hidden" name="addressID" class="form-control" value="<%=address.addressID%>">
                              </div>
            
                            </div>
                            <!--Grid column-->
            
                            <!--Grid column-->
                            <div class="col-md-6 mb-2">
            
                              <!--lastName-->
                              <div class="md-form">
                                <input type="text" id="lastName" name="lastName" class="form-control" value="<%=address.lastName%>">
                              </div>
            
                            </div>
                            <!--Grid column-->
            
                          </div>
                          <!--Grid row-->
            
                          <!--address-->
                          <div class="md-form mb-5">
                            <input type="text" id="address" class="form-control" name="address" value="<%=address.address%>">
                          </div>
            
                          <!--Grid row-->
                          <div class="row">
            
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">
            
                              <label for="city">City</label>
                              <input type="text" class="form-control" id="city" name="city" value="<%=address.city%>" required>
            
                            </div>
                            <!--Grid column-->
            
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">
            
                              <label for="state">State</label>
                              <select class="custom-select d-block w-100" name="state" id="state" required>
                                <option value="<%=address.state%>"><%=address.state%></option>
                                <option>CA</option>
                              </select>
                              <div class="invalid-feedback">
                                Please provide a valid state.
                              </div>
            
                            </div>
                            <!--Grid column-->
            
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">
            
                              <label for="zip">Zip</label>
                              <input type="text" class="form-control" id="zip" name="zip" value="<%=address.zip%>" required>
                              <div class="invalid-feedback">
                                Zip code required.
                              </div>
            
                            </div>
                            <!--Grid column-->
            
                          </div>
                          <!--Grid row-->
            
                          <hr class="mb-4">
                          <div class="row">
                            <div class="col-lg-6">
                              <button class="btn btn-primary btn-lg btn-block" name="buttonType" type="submit" value="<%=address.addressID%>">Update</button>
                            </div>  
                            <div class="col-lg-6">
                              <button class="btn btn-primary btn-lg btn-block" name="buttonType" type="submit" data-value="<%=address.addressID%>" value="Delete">Delete</button>
                            </div>  
                          </div>        
                        </form>
                        <% }) %> 
                      </div>
                      <!--/.Card-->



                      <div class="card">
            
                        <!--Card content-->
                        <form class="card-body" action = "" method = "POST">
            
                          <!--Grid row-->
                          <div class="row">
            
                            <!--Grid column-->
                            <div class="col-md-6 mb-2">
            
                              <!--firstName-->
                              <div class="md-form ">
                                <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First Name">
                              </div>
            
                            </div>
                            <!--Grid column-->
            
                            <!--Grid column-->
                            <div class="col-md-6 mb-2">
            
                              <!--lastName-->
                              <div class="md-form">
                                <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last Name">
                              </div>
            
                            </div>
                            <!--Grid column-->
            
                          </div>
                          <!--Grid row-->
            
                          <!--address-->
                          <div class="md-form mb-5">
                            <input type="text" id="address" class="form-control" name="address" placeholder="1234 Main St. Apt 5">
                          </div>
            
                          <!--Grid row-->
                          <div class="row">
            
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">
            
                              <label for="city">City</label>
                              <input type="text" class="form-control" id="city" name="city" placeholder="" required>
            
                            </div>
                            <!--Grid column-->
            
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">
            
                              <label for="state">State</label>
                              <select class="custom-select d-block w-100" name="state" id="state" required>
                                <option value="">Choose...</option>
                                <option>CA</option>
                              </select>
                              <div class="invalid-feedback">
                                Please provide a valid state.
                              </div>
            
                            </div>
                            <!--Grid column-->
            
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">
            
                              <label for="zip">Zip</label>
                              <input type="text" class="form-control" id="zip" name="zip" placeholder="" required>
                              <div class="invalid-feedback">
                                Zip code required.
                              </div>
            
                            </div>
                            <!--Grid column-->
            
                          </div>
            
                          <hr class="mb-4">
                          <button class="btn btn-primary btn-lg btn-block" name="buttonType" type="submit" value="newAddress">Add New Address</button>
 
                        </form>
                      </div>
                      <!--/.Card-->
            
                    </div>
                    <!--Grid column-->
            
                  </div>
                  <!--Grid row-->
            
                </div>
              </main>
              <!--Main layout-->
    <script src="libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="libs/bootstrap/js/popper.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/mdb/mdb.min.js"></script>
    
    </body>
</html>